<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>elporto</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googlelogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.846552340282-n5me2n6jgu4o5494t98sj86lrpk2dg3f</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.218770828106-dqnq8mhgq0p83qcsf4pgg8dr7v9hp24e</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>instagram</string>
		<string>tg</string>
		<string>twitter</string>
		<string>cydia</string>
		<string>gojek</string>
		<string>dana</string>
		<string>akulaku</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow CodeBase to access camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow CodeBase to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow CodeBase to access your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>CodeBase uses your photo library to share content to Instagram</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Data akan digunakan untuk memberikan konten dan penawaran yang sesuai dengan kebutuhan Anda.</string>
	<key>UIApplicationSceneManifest</key>
	<array>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchScreen</key>
	<array>
		<string>SplashView.swift</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashView.swift</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
